.body{
    margin: 0;
    padding: 0;
}
/*contenedor principal*/
.contenedor{
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vw;
    display: flex;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/*contenedor del menu*/
.menu{
    background-color: white;
    width: 20vw;
    height: 100vw;  
    flex-direction: column; 
    margin: 0;
    padding: 0;
    transition: all .4s;
}
/*contenedor Dashboard*/
.contenedorCuadros{
    background-color: rgb(223, 223, 223);
    width:98% ;
    height: 100vw;
    margin-top: 4.3%;
}
/*primera parte del menu*/
.menuContenedor{
    width: 20vw;
    height: 11vw;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}
/*segunda parte del menu*/
.menuContenedor2{
    width: 20vw;
    height: 16vw;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    
}
.menuContenedor3{
    width: 20vw;
    height: 16vw;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}
/*imagen cara sonriente*/
.carita{
    width: 2.5vw;
    height: 2.3vw;
    margin-left: 0.5vw;
}

.div1{
    display: flex;
    width: 100vw;
    height: 4.2vw;
    overflow: hidden;
    margin-top: 0.5vw;
}
.div2{
    margin-top: 2.5vw;
    width: 17vw;
    display: flex;
    height: 3.5vw;
    background-color: rgb(28, 71, 187);
    border-radius: 1vw;
    margin-left: 1vw;
    overflow: hidden;
    display: flex;
    align-items: center;
}
/*icon*/
.imagen{
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 1vw;
}
/*text*/
.dasboard{
    color: white;
    margin-left: 1vw;
    font-size: 1.5vw;
    
}
/*text*/
.adminsite{
    margin: 0vw;
    padding: 0vw;
    font-size: 2vw;
    color: rgb(28, 71, 187);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
/*desplazamiento del menu*/
.botonMenu{
    width: 1vw;
    height: 1vw;
    margin-top: -2vw;
    margin-left: 1vw;
}
.div3{
    margin-top: 2vw;
    margin-left: 1vw;
    width: 17vw;
    height: 5vw;
}
/*opciones del menu1*/
#uno{
    border: none;
    width: 17vw;
    height: 3.5vw;
    font-size: 1.2vw;
}
#dos{
    border: none;
    width: 17vw;
    height: 3.5vw;
    font-size: 1.2vw;
    margin-top: -2vw;
    margin-left: 0.2vw;
}
.main{
    font-size: 1.2vw;

}
.div4{
    margin-top: 1vw;
    margin-left: 1vw;
    width: 17vw;
    height: 2.5vw;
}
.div5{
    margin-top: -0.5vw;
    width: 100vw;
    height: 15vw;
    display: flex;
    margin-left: 1vw;
}
.charts{
    border: none;
    width: 17vw;
    height: 2vw;
    font-size: 1.2vw;
    text-align: start;
    background-color: rgb(255, 255, 255);

}
.charts1{
    margin: 0vw;
    border: none;
    width: 17vw;
    height: 2vw;
    font-size: 1.2vw;
    text-align: start;
    background-color: rgb(255, 255, 255);

}
.widgest{
    border: none;
    width: 17vw;
    height: 3.5vw;
    font-size: 1.2vw;
    text-align: start;
    background-color: white;

}
.texto1C2{
    display: flex;
    flex-direction: column;
    margin-left: 1.5vw;

}
.texto1{
    font-size: 2.3vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
.texto2{
    margin-top: -1.5vw;
    font-size: 1vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
.div5{
    margin-top: -0.5vw;
    width: 80vw;
    height: 15vw;
    display: flex;
}
.cuadros{
    width: 22vw;
    height: 12vw;
    background-color: rgb(255, 255, 255);
    margin: 0.5vw;
    border-radius: 1vw;
}
.div6{
    margin-left: 1.5vw;
    width: 91vw;
    height: 8vw;
    background-color: rgb(255, 255, 255);
    border-radius: 1vw;
    overflow: hidden;
    
}
.numImg{
    width: 17vw;
    height: 4vw;
    margin-top: 1.5vw;
    display: flex;
    overflow: hidden;
}
.num{
    font-size: 2vw;
    margin-left: 1vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.iconRaYA{
    margin-top: 1vw;
    width: 1.8vw;
    height: 1.8vw;
    margin-left: 9.6vw;
}
.iconRaYA2{
    margin-top: 1vw;
    width: 1.8vw;
    height: 1.8vw;
    margin-left: 10.6vw;
}
.traffic{
    margin-top: -0.2vw;
    font-size: 1vw;
    margin-left: 1vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
.rayaAzul{
    margin-top: 1.5vw;
    width: 15vw;
    height: 1vw;
    background-color: rgb(223, 223, 223);
    margin-left: 1vw;
    border-radius: 2vw ;
    overflow: hidden;
}
.azul1{
    width: 6.5vw;
    height: 1vw;
    background-color: rgb(28, 71, 187);
}
.azul2{
    width: 8.9vw;
    height: 1vw;
    background-color: rgb(28, 71, 187);
}
.azul3{
    width: 4.5vw;
    height: 1vw;
    background-color: rgb(28, 71, 187);
}
.azul4{
    width: 11.5vw;
    height: 1vw;
    background-color: rgb(28, 71, 187);
}
.porcentaje{
    font-size: 1vw;
    margin-left: 1vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
.report{
    font-size: 1.5vw;
    margin-left: 1vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.hola{
    margin-top: -0.2vw;
    font-size: 2vw;
    margin-left: 1vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#menuHambur:checked + .menu{
    margin-left: -17vw;
}
