
.grid-container {
    width: 65vw;
    height: auto;
    display: grid;
    background-color: black;
    grid-template-columns: 2;
    grid-template-rows: 3;
    column-gap: 1vw;
    row-gap: 1vw;
    justify-content: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-radius: 1vw;

  }
  
  /*.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 10px;
  }*/
  
  .uno {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .video1 {
    border-radius: 2vw;
    width: 30vw;
    height: auto;
  }

  .dos {
    grid-column-start: 1;
    grid-column-end: 2;
    
  }

  .video2 {
    border-radius: 2vw;
    width: 30vw;
    height: auto;
  }

  .tres {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    }

    .textoimg {
        border-radius: 1vw;
        
        width: 30vw;
        height: auto;
    }

    .cuatro {
        grid-column-start: 1;
        grid-column-end: 3;
    }

  .fotos {
    border-radius: 2vw;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 61vw;
    height: auto;
    
  }
  .grid-container2{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto ;
    background-color: black;
    border-radius: 10px;
    padding: 2%;
  }
  .imagenes{
  }