@font-face {
    font-family: bold;
    src: url(font/fonts.ttf);
}
@font-face {
    font-family: lt;
    src: url(font/lt.ttf);
}
@font-face {
    font-family: letra;
    src: url(font/Myriad\ Pro\ Italic.ttf);
}

body{
    background-color: black;
    margin: 0 auto;
    
}

.contenedor{
    margin: 0px auto;
    width: 100vw;
    max-width: 1920px;
    height: auto;
    overflow: hidden;

}
.fondo2{
    background-image: url(imagen/FondoTwitch.png);
    background-size: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 135vh;
    opacity: 0.5px;
    max-width: 1920px;
    max-height: 56vw;
    text-align: center;
}
.contenedor2{
    padding-bottom: 1vw;
    width: 93vw;
    text-align: center;
    margin: 0px auto;
    background-color: #00A8E1;
    border-radius: 5vw;
    margin-top: 2vw;

}
.contenedor3{
    background-color: #00A8E1;
    width: 93vw;
    padding-bottom: 1vw;
    text-align: center;
    margin:0px  auto;
    border-radius: 5vw;
    margin-top: 2vw;
}
.contenedor4{
    background-color: #00A8E1;
    width: 93vw;
    padding-bottom: 1vw;
    text-align: center;
    margin:0px  auto;
    border-radius: 5vw;
    margin-top: 2vw;
}
.contenedor5{
    width: 93vw;
    padding-bottom: 1vw;
    text-align: center;
    margin:0px  auto;
    border-radius: 5vw;
    margin-top: 2vw;
}
.contenedorLogo{
    display: flex;
    justify-content: space-between;
}
.search{
    width: 2vw;
    padding-top: 0vh;
    padding-left: 1vw;
    height: 3%;
    margin: 2%;
}
.rectangle2{
    width: 10vw;
    padding-left: 0vw;
    height: 3%;
    margin-top: 2vw;
    margin: 2%;
}
.texto{
    color: #000000;
    font-family: lt;
    margin-left: 85%;
    z-index: 2;
}
.logoPrime{
    width: 28vw;
    padding-left: 0vw;
    height: 30%;
    padding-top: 5vw;
}
.text1{
    width: 77vw;
    padding-left: 12.3vw;
    height: 8%;
    color: white;
    font-family: bold;
    font-size: 3.2vw;
    margin-top: -2%;
}
.text2{
    width: 83vw;
    padding-left: 8.5vw;
    height: 18%;
    margin-top: -2.7%;
    font-family: lt;
    color: white;
    font-size: 1.6vw;

}
.group1{
    margin-top: -3vw;
    width: 24vw;
    height: 10%;
}
.text3{
    color: black;
    margin-top: -4%;
    font-size: 2vw;
    font-family: lt;
}
.texto1Cnt2{
    color: white;
    font-family: bold;
    font-size: 3vw;
    padding-top: 2vh;
}
.imagenTv{
    width: 9vw;
    margin-top: -2vh;
    padding-left: 2vw;
}
.texto2Cont2{
    font-family: lt;
    color: #ffffffc2;
    font-size: 2vw;
}
.text5{
    color: white;
    font-family: bold;
    padding-top: 2%;
    font-size: 3vw;
}
.rectangle{
    width: 9vw;
    margin-top: -0.5vh;
}
.text6{
    color: #ffffffc2;
    font-family: lt;
    font-size: 2vw;
    
}
.text7{
    color: white;
    font-family: bold;
    font-size: 3vw;
    padding: 2%;
}
.cancel{
    width: 10vw;
    margin-top: -2%;
}
.text8{
    color:#ffffffc2;
    font-family: lt;
    font-size: 2vw;
}
.text9{
    color: white;
    font-family: lt;
    font-size: 6vw;
    margin-bottom: 2%;
}
.text10{
    color: white;
    font-family: lt;
    font-size: 2vw;

}
.flechad{
    padding-left: 2.3%;
    padding-bottom: 12%;
    width: 1vw;
}
.image2{
    width: 13vw;
    padding-bottom: 7%;
}
.image1{
    width: 26vw;
}
.image3{
    width: 13vw;
    padding-bottom: 7%;
}
.flechai{
    padding-bottom: 12%;
    width: 1vw;
}
.miniContenedorPowerby{
    width: 100%;
    display: flex;
    margin-top: -1vh;
}
.text11{
    color: white;
    font-size: 0.7vw;
    font-family: letra;
    margin-left: 45%;
    width: 5vw
}
.logo{
    width: 6vw;
    padding-left: 1%;
}
.miniContenedorTexto{
    color: #ffffffc2;
    display: flex;
    font-family: lt;
    font-size: 1.2vw;
    margin: 2%;
    margin-bottom: -1%;
}
.text12{
    padding-left: 32%;
    margin-right: 2%;

}
.text13{
    margin-right: 1%;

}
.text14{
    margin-right: 2%;

}
.text15{
    margin-right: 2%;

}
