@font-face {
    font-family: letra;
    src: url(fonts/Cascadia.ttf);
}
body{
    background-color: #1e1d2b;
    position: absolute;
    width: 1920px;
    height: 1080px;
}
.texto1{
    position: relative;
    color: #ff702a;
    top: 35px;
    left: 150px;
    font-size: 40px;
    margin: 0;
    font-family: letra;
}
.texto2{
    position: relative;
    color: #ff702a;
    top: 240px;
    left: 275px;
    width: 1100px;
    height: 309px;
    font-size: 120px;
    margin: 0;
    font-family: letra;
}
.texto3{
    position: relative;
    color: #fff;
    width: 600px;
    height: 50px;
    top: 109px;
    left: 280px;
    font-size: 45px;
    margin: 0;
    font-family: letra;
}
.rectangulomenu{
    position: relative;
    background-color: #ff702a;
    width: 277px;
    height: 70px;
    margin: 0;
    top: 210px;
    left: 280px;
}
.texto4{
    position: relative;
    color: #fff;
    width: 240px;
    height: 250px;
    margin: 0;
    top: 155px;
    left: 304px;
    font-size: 34px;
    font-family: letra;
}
.texto5{
    position: relative;
    color: #fff;
    width: 100px;
    height: 100px;
    margin: 0;
    top: -653px;
    left: 1330;
    font-size: 20px;
    font-family: letra;
}

.texto6{
    position: relative;
    color: #fff;
    width: 100px;
    height: 100px;
    margin: 0;
    top: -756px;
    left: 1460;
    font-size: 20px;
    font-family: letra;
}
.texto7{
    position: relative;
    color: #fff;
    width: 100px;
    height: 100px;
    margin: 0;
    top: -856;
    left: 1570;
    font-size: 20px;
    font-family: letra;
}
.texto8{
    position: relative;
    color: #fff;
    width: 100px;
    height: 100px;
    margin: 0;
    top: -958;
    left: 1660;
    font-size: 20px;
    font-family: letra;
}
.texto9{
    position: relative;
    color: #fff;
    width: 100px;
    height: 100px;
    margin: 0;
    top: -1059;
    left: 1773;
    font-size: 20px;
    font-family: letra;
}
.home{
    position: relative;
    width: 600px;
    height: 600px;
    top: -1050px;
    left: 1210px;
}
.texto10{
    position: relative;
    color: #ff702a;
    width: 100px;
    height: 100px;
    font-family: letra;
    font-size: 20px;
    top: -350px;
    left: 1195px;
}
.texto11{
    position: relative;
    color: #fff;
    width: 590px;
    height: 100px;
    font-family: letra;
    font-size: 50px;
    top: -450px;
    left: 1190px;
}
.texto12{
    position: relative;
    color: #ffff;
    width: 660px;
    height: 100px;
    font-family: letra;
    font-size: 25px;
    top: -450px;
    left: 1190px;
}
.about{
    position: relative;
    width: 600px;
    height: 600px;
    top: -810;
    left: 350px;
    margin: 0;
}
.texto13{
    position: relative;
    color: #ffff;
    width: 200px;
    height: 100px;
    top: -1130px;
    left: 1222px;
    font-size: 25px;
    font-family: letra;
}
.rectangulo5{
    position: relative;
    background-color: #ff702a;
    width: 199px;
    height: 50px;
    top: -1065px;
    left: 1192px;
}
.texto14{
    position: relative;
    color: #fff;
    top: -500px;
    left: 500px;
    font-size: 70px;
    font-family: letra;
}
.rectangulo6{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #ffefe8;
    top: -200;
}
.foodimg1{
    position: relative;
    top: -300px;
}
