@font-face {
    font-family: letra;
    src: url(fonts/Cascadia.ttf);
}
body{
    background-color: #1e1d2b;
    position: absolute;    
}
.contenedorPrincipal{
    width: 1920px;
    height: auto;
}

.contenedor{
    position: relative;
    background-color: #1e1d2b;
    width: 1920px;
    height: 870px;
    overflow: hidden;
    
}
.contenedor2{
    position: relative;
    background-color: #1e1d2b;
    width: 1920px;
    height: 840px;
    overflow: hidden;
}
.contenedor3{
    position: relative;
    background-color: #1e1d2b;
    width: 1920px;
    height: 870px;
    overflow: hidden;
}
.contenedor4{

    position: relative;
    background-color: #1e1d2b;
    width: 1920px;
    height: 830px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;

}
.contenedor5{
    position: relative;
    background-color: #1e1d2b;
    width: 1920px;
    height: 760px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
.contenedor6{
    position: relative;
    background-color: #1e1d2b;
    width: 1920px;
    height: 470px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    display: flex;
}
.contenedorFoods{
    width: 1920px;
    color: white;
    font-family: letra;
    font-size: 23px;
    display: flex;
    margin-top: 36px;
}
.foods{
    position: relative;
    color: #ff702a;
    margin-top: 5px;
    margin-left: 99px;
    font-size: 40px;
}
.home{
    margin-top: 25px;
    margin-left: 1060px;
    color: white;
    text-decoration: none;
}
.about{
    margin-left: 50px;
    margin-top: 25px;
    color: white;
    text-decoration: none;
}

.menu{
    margin-left: 50px;
    margin-top: 23px;
    color: white;
    text-decoration: none;

}
.service{
    margin-left: 50px;
    margin-top: 20px;
    color: white;
    text-decoration: none;

}
.contact{
    margin-left: 50px;
    margin-top: 20px;
    color: white;
    text-decoration: none;

}
.fullW{
    color: #ff702a;
    font-size: 117px;
    font-family: letra;
    margin-top: 132px;
    margin-left: 220px;
}
.foodsMPT{
    color: white;
    font-size: 40px;
    font-family: letra;
    margin-left: 224px;
    margin-top: -97px;
}
.rectanguloNaran{
    background-color: #ff702a;
    width: 250px;
    height: 57px;
    margin-left: 226px;
    overflow: hidden;
}
.todaM{
    color: white;
    font-family: letra;
    font-size: 25px;
    text-align: center;
    margin: 0px;
    padding-top: 14px;
}
.homeimg{
    width: 556px;
    padding-left: 1122px;
    margin-top: -435px;
    height: 538px;
}
.aboutimg{
    width: 500px;
    height: 500px;
    padding-left: 131px;
    margin: 161px;
}
.aUs{
    color: #ff702a;
    font-size: 25px;
    font-family: letra;
    margin-top: -639px;
    margin-left: 913px
}
.WeSpeak{
    color: white;
    font-size: 70px;
    font-family: letra;
    margin-left: 913px;
    margin-top: -10px;
}
.itIs{
    color: white;
    font-family: letra;
    font-size: 25px;
    margin-left: 913px;
    margin-top: -38px;
}
.rectangulo2Naran{
    background-color: #ff702a;
    width: 240px;
    height: 57px;
    margin-left: 913px;
    overflow: hidden;
}
.LeanM{
    color: white;
    font-family: letra;
    font-size: 25px;
    text-align: center;
    margin: 0px;
    padding-top: 14px;
}
.foodMenu{
    color: #ff702a;
    font-size: 25px;
    font-family: letra;
    text-align: center;
    margin-top: 20px;
}
.FreshTaste{
    color: white;
    font-family: letra;
    font-size: 70px;
    text-align: center;
}
.cuadradosMenu{
    display: flex;
    justify-content: center;
    
}
.cuadro{
    background-color: rgba(255,239,232,255);
    width: 410px;
    height: 420px;
    padding-left: 45px;
    margin: 10px;
    border-left: 5px solid black;
    overflow: hidden;
}
.img1{
    margin-top: 15px;
    margin-left: 45px;
    height: 275px;
}
.img2{
    margin-top: 30px;
    margin-left: 65px;
    height: 235px;
}
.img3{
    margin-top: 15px;
    margin-left: 45px;
    height: 275px;
}
.cuadroN{
    background-color: #ff702a;
    width: 50px;
    height: 50px;
    margin-top: -400px;
    margin-left: 358px;
    text-align: center;
}
.cuadroNa{

    background-color: #ff702a;
    width: 50px;
    height: 50px;
    margin-top: -405px;
    margin-left: 358px;
    text-align: center;

}
.chicken{
    color: black;
    font-family: letra;
    font-size: 25px;
    margin-left: 82px;
    margin-top: -5px;
}
.Cfry{
    color: black;
    font-family: letra;
    font-size: 25px;
    margin-left: 70px;
    margin-top: -5px;
}
.foto2{
    color: black;
    font-family: letra;
    font-size: 25px;
    margin-left: 50px;

}
.tasty{
    font-family: letra;
    font-size: 20px;
    margin-left: 120px;
    margin-top: -20px;
}
.precio{
    font-family: letra;
    color: #ff702a;
    font-size: 23px;
    margin-left: 140px;
    margin-top: -15px;
}
.tasty2{
    font-family: letra;
    font-size: 20px;
    margin-left: 120px;
    margin-top: -20px;
}
.precio2{
    font-family: letra;
    color: #ff702a;
    font-size: 23px;
    margin-left: 140px;
    margin-top: -15px;
}
.icon{
    margin-top: 10px;
    width: 30px;
}
.services{
    color: #ff702a;
    font-size: 25px;
    font-family: letra;
    text-align: center;
}
.weP{
    color: white;
    font-family: letra;
    font-size: 70px;
    text-align: center;
}
.fotosMenu{
    width: 300px;
    display: flex;
    margin-left: 100px;
}
.fotoM{
    width: 320px;
    padding-left: 200px;
}
.name{
    margin-top: -45px;
    font-family: letra;
    display: flex;
    font-size: 50px;
}
.order{
    
    padding-left: 365px;
    color: #ff702a;
}
.shipping{
    color: #ff702a;
    padding-left: 340px;

}
.dellvered{
    color: #ff702a;
    padding-left: 280px;
}
.text{
    color: white;
    font-family: letra;
    font-size: 25px;
    display: flex;
    margin-top: -60px;
}
.text1{
    width: 450px;
    padding-left: 215px;
    text-align: center;
}
.text2{
    width: 450px;
    padding-left: 80px;
    text-align: center;
}
.text3{
    width: 450px;
    padding-left: 80px;
    text-align: center;
}
.rectangle{
    margin-top: 140px;
    background-color: rgba(255,239,232,255);
    width: 1700px;
    height: 500px;
    margin-left: 100px;
    border: 1px solid black;

}
.weWake{
    color: black;
    font-family: letra;
    font-size: 70px;
    text-align: center;
    padding-top: 30px;
}
.rectangleNa{
    background-color: #ff702a;
    width: 280px;
    height: 50px;
    margin-left: 710px;
    color: white;
    font-family: letra;
    font-size: 30px;
    text-align: center;
    padding-top: 13px;   
}
.caja{
    color: white;
    font-family: letra;
    font-size: 30px;
    margin:83px;
    margin-left: 250px;
}
.caja2{
    color: white;
    font-family: letra;
    font-size: 30px;
    margin:83px;
    margin-left: 20px;
}
.caja3{
    color: white;
    font-family: letra;
    font-size: 30px;
    margin:83px;
    margin-left: 0px;
}
.caja4{
    width: 300px;
    color: white;
    margin-left: 100px;
    font-size: 35px;
    font-family: letra;
    margin-top: 75px;
}

.iconF{
    width: 50px;
    margin-left: -24px;
    padding-left: 18px;
}