body{
    margin: 0%;
    padding: 0%;
}

.paisaje{
    width: 100%;
    height: 100%;
    background-image: url(paisaje/pexels-jahoo-388415.jpg );
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}   
.nube{
    position: absolute;
    margin-left: -27%;
    width: 30%;
    height: auto;
    animation: nube 25s   ;
    animation-delay:2s ;
    z-index: 2;
}
@keyframes nube{
    0%{ left: 1%;}
    50%,60%{ left: 50%; }
    100%{left: 130%;}
}
.lluvia{
    margin-top: 55%;
    width: 70%;
    height: auto;
    animation: lluvia 25s;
    animation-delay:0.5s;
}

@keyframes lluvia{
    0%, 42%{opacity: 0;}
    43%{opacity: 0.5;}
    89%,100%{opacity: 0;}
    40%{transform: translateY(0);}
    100%{transform: translateY(800px);}
}

.flor{
    position: relative;
    margin-left: 25%;
    margin-top: 35%;
    width: 15%;
    height: auto;
    animation: flor 25s;
    
}
@keyframes flor{

    0%{margin-top: 35%;}
    90%{margin-top: 35%;}
    100%{margin-top: 23%; }
}


.sol{
    width: 30%;
    height: auto;
    margin-left: -5%;
    animation: sol 25s;
    animation-delay: 1s;
    
}
@keyframes sol{

    0%, 39%{opacity: 1;}
    39%,41%{opacity: 0.5;}
    42%,80%{opacity: 0.3;}
    81%,90%{opacity: 0.5;}
    91%,100%{opacity: 1;}

}

.numeros{
    margin-left: 20%;
    margin-top: -40%;
}
.uno{
    width: 10%;
    height: auto;
    margin-bottom: 20%;
    margin-left: 2%;
    animation: uno 25s;
    
}
@keyframes uno{
    0%{ opacity: 1;}
    2%,100%{ opacity: 0; }
}
.dos{
    width: 10%;
    height: auto;
    margin-bottom: 20%;
    margin-left: 2%;
    animation: dos 25s;

}
@keyframes dos{
    2%{ opacity: 1;}
    3%,100%{ opacity: 0; }
}
.tres{
    width: 10%;
    height: auto;
    margin-bottom: 20%;
    margin-left: 2%;
    animation: tres 25s;
}
@keyframes tres{
    4%{ opacity: 1;}
    5%,100%{ opacity: 0; }
}
.accion{
   width: 40%;
   height: auto;
   margin-bottom: 20%;
   animation: accion 25s;
}
@keyframes accion{
    0%,5%{ opacity: 0;}
    6%,8%{ opacity: 1; }
    9%,100%{opacity: 0;}
}