@font-face {
    font-family: letra;
    src: url(fonts/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: li;
    src: url(fonts/MyriadPro-Light.otf);
}
.imagenfondo{
    position: absolute;
    width: 1920px;
    height: 1638px;
    opacity: 0.5px;
    top: 0px;
    overflow: hidden;
}
.menubar{
    position: relative;
    width: 1920px;
    height: 174px;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 2;
}
.imgBottom{
    position: relative;
    top: 1463px;
    left: 0px;
    width: 1920px;
    height: 174px;
}
.imagenBlanca{
    position: absolute;
    top: 191px;
    left: 167px;
    width: 1545px;
    height: 1225px;
    border-radius: 50px;
    overflow: hidden;
}
.logoDian{
    position: relative;
    width: 313px;
    height: 53px;
    top: 60px;
    left: 634px;
}
.texto1{
    position: relative;
    top: 90px;
    left: 460px;
    width: 666px;
    height: 64px;
    font-size: 26px;
    font-family: letra;
    text-align: center;
}
.muisca{
    position: relative;
    top: 109px;
    left: 670px;
    width: 231px;
    height: 77px;
}
.texto2{
    position: relative;
    top: 123px;
    left: 399px;
    width: 208px;
    height: 21px;
    font-family: letra;
    font-size: 21px;
}
.rectangulo{
    position: relative;
    top: 132px;
    left: 399px;
    width: 792px;
    height: 63px;
    border: 1px solid #707070;
}
.texto3{
    position: relative;
    top: 167px;
    left: 399px;
    width: 318px;
    height: 21px;
    font-family: letra;
    font-size: 21px;
}
.calendar{
    position: relative;
    top: -410px;
    left: 177px;
    width: 792px;
    height: 63px;
    border: 1px solid #707070;
    font-size: 2;
}
.robot{
    position: relative;
    top: 280px;
    left: 633px;
    width: 401px;
    height: 113px;
}
.texto4{
    position: relative;
    font-size: 11px;
    font-family: li;
    top: 287px;
    left: 551px;
    width: 518px;
    height: 11px
}
.consultar{
    position: relative;
    top: 300px;
    left: 730px;
    width: 165px;
    height: 42px;
    border-radius: 20px;
}
.texto5{
    position: relative;
    font-family: letra;
    font-size: 35px;
    top: 340px;
    left: 314px;
    width: 1052px;
    height: 35px;
}
.iconAwesome{
    position: relative;
    top: 379px;
    left: 581px;
    width: 63px;
    height: 84px;
}
.texto6{
    position: relative;
    top: 391px;
    left: 517px;
    width: 188px;
    height: 35px;
    font-family: letra;
    font-size: 35px;
}
.texto7{
    position: relative;
    top: 410px;
    left: 376px;
    width: 470px;
    height: 86px;
    font-family: li;
    font-size: 17px;
    text-align: center;
}
.tramitar{
    position: relative;
    top: 424px;
    left: 500px;
    width: 220px;
    height: 56px;
}

.icon2{
    position: relative;
    top: 199px;
    left: 827px;
    width: 103px;
    height: 62px;
}
.texto8{
    position: relative;
    top: 200px;
    left: 910px;
    width: 380px;
    height: 35px;
    font-size: 35px;
    font-family: letra;
}
.texto9{
    position: relative;
    top: 219px;
    left: 955px;
    width: 289px;
    height: 86px;
    font-family: li;
    font-size: 17px;
    text-align: center;
}
.tramitar2{
    position: relative;
    top: 231px;
    left: 990px;
    width: 220px;
    height: 56px;
}
.texto10{
    position: relative;
    color: #fff;
    width: 30px;
    height: 30px;
    top: 64px;
    left: 278px;
    font-size: 34px;
    font-family: li;
}
.texto11{
    position: relative;
    color: #fff;
    width: 100px;
    height: 100px;
    top: 34px;
    left: 504px;
    font-size: 34px;
    font-family: li;
}
.texto12{
    position: relative;
    color: #fff;
    width: 100px;
    height: 100px;
    top: -65px;
    left: 1285px;
    font-size: 34px;
    font-family: li;
}
.opcion{
    position: relative;
    background-color: #ffffff;
    width: 209px;
    height: 50px;
    top: -165px;
    left: 1550px;
    border-radius: 20px;
}

.texto13{
    position: relative;
    color: #000000;
    width: 100px;
    height: 100px;
    top: -209px;
    left: 1599px;
    font-size: 30px;
    font-family: li;
}
.gobiernoLogo{
    position: relative;
    width: 349px;
    height: 67px;
    top: -320px;
    left: 785px;
}
.icon3{
    position: relative;
    width: 30px;
    height: 20px;
    top: -150px;
    left: 1544;
}
.texto14{
    position: relative;
    color: #fff;
    font-family: letra;
    font-size: 15px;
    text-align: center;
    top: -148px;
    left: 590px;
}
.footer
{
    position: relative;
    width: 400px;
    height: 60px;
    top: -320px;
    left: 800px;
}
.location{
    position: relative;
    width: 20px;
    height: 20px;
    top: -260px;
    left: 420px;
}
.texto15{
    position: relative;
    color: #fff;
    font-family: letra;
    font-size: 15px;
    text-align: center;
    top: -247px;
    left: -520px;
}


*{
    margin: 0;
    padding: 0;
}

