@font-face {
    font-family: letra;
    src: url(fonts/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: li;
    src: url(fonts/MyriadPro-Light.otf);
}
.imagenfondo{
    position: absolute;
    width: 1920px;
    height: 1153px;
    opacity: 0.5px;
    top: 0px;
    overflow: hidden;
}
.menubar{
    position: relative;
    width: 1920px;
    height: 174px;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 2;
}
.imgBottom{
    position: absolute;
    top: 950px;
    left: 0px;
    width: 1920px;
    height: 199px;
}
.imagenBlanca{
    position: absolute;
    top: 191px;
    left: 167px;
    width: 1545px;
    height: 740px;
}
.texto10{
    position: relative;
    color: #fff;
    width: 30px;
    height: 30px;
    top: 64px;
    left: 278px;
    font-size: 34px;
    font-family: li;
}
.texto11{
    position: relative;
    color: #fff;
    width: 100px;
    height: 100px;
    top: 34px;
    left: 504px;
    font-size: 34px;
    font-family: li;
}
.texto12{
    position: relative;
    color: #fff;
    width: 100px;
    height: 100px;
    top: -65px;
    left: 1285px;
    font-size: 34px;
    font-family: li;
}
.opcion{
    position: relative;
    background-color: #ffffff;
    width: 209px;
    height: 50px;
    top: -165px;
    left: 1550px;
    border-radius: 20px;
}
.texto13{
    position: relative;
    color: #000000;
    width: 100px;
    height: 100px;
    top: -208px;
    left: 1595px;
    font-size: 30px;
    font-family: li;
}
.gobiernoLogo{
    position: relative;
    width: 349px;
    height: 67px;
    top: -330px;
    left: 785px;

}
.logoDian{
    position: relative;
    width: 313px;
    height: 53px;
    top: 40px;
    left: 604px;
}
.iconAwesome{
    position: relative;
    top: 100px;
    left: 425px;
    width: 71px;
    height: 42px
}
.firma{
    position: relative;
    top: 99px;
    left: 650px;
    width: 270px;
    height: 24px;
    font-size: 24px;
    font-family: letra;
}
.texto1{
    position: relative;
    top: 125px;
    left: 126px;
    width: 1308px;
    height: 64px;
    font-family: letra;
    font-size: 26px;
    text-align: center;
}
.sol{
    position: relative;
    top: 135px;
    left: 669px;
    width: 231px;
    height: 77px;

}
.texto2{
    position: relative;
    top: 123px;
    left: 369px;
    width: 208px;
    height: 21px;
    font-family: letra;
    font-size: 21px;
}
.documento{
    position: relative;
    top: 132px;
    left: 364px;
    width: 792px;
    height: 63px;
    border: 1px solid #707070;
}
.texto3{
    position: relative;
    top: 87px;
    left: 364px;
    width: 318px;
    height: 21px;
    font-family: letra;
    font-size: 21px;
}
.date{
    position: relative;
    top: 180px;
    left: 364px;
    width: 792px;
    height: 63px;
    border: 1px solid #707070;
}
.continuar{
    position: relative;
    top: 225px;
    left: 635px;
    width: 300px;
    height: 76px;
}
.icon3{
    position: relative;
    width: 30px;
    height: 20px;
    top: 30px;
    left: 1544;
}
.texto14{
    position: relative;
    color: #fff;
    font-family: letra;
    font-size: 15px;
    text-align: center;
    top: 38px;
    left: 590px;
}

.location{
    position: relative;
    width: 20px;
    height: 20px;
    top: -77px;
    left: 420px;
}
.texto15{
    position: relative;
    color: #fff;
    font-family: letra;
    font-size: 15px;
    text-align: center;
    top: -59px;
    left: -520px;
}
.footer
{
    position: relative;
    width: 400px;
    height: 60px;
    top: -145px;
    left: 800px;
}
*{
    margin: 0;
    padding: 0;
}